# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\Documents\UoM\7th_semester\Ανάκτηση Πληροφορίας και Μηχανές Αναζήτησης\Project_05\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
